services:
  - type: web
    name: laravel-api
    env: php
    plan: free
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      npm install
      npm run build
      php artisan optimize
    startCommand: php artisan serve --host 0.0.0.0 --port $PORT
